body{
    background-image: url("https://i.pinimg.com/originals/87/b5/29/87b529df0db6e67d2411326a3f2e0686.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: aqua;
}
img{
    width: 400px;
    height: 350px;
}
#thirdDiv{
    background-color: darkgray;
    width: 500px;
    height: 600px;
    padding: 50px;
    border-color: black;
    border-style: solid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#spanId{
    font-size: 18px;
}
.divClass{
    display: flex;
    justify-content: center;
    align-items: center;
}
